@import './header.less';
@import './index-header.less';
@import './footer.less';

.hover() {
  &:hover {
    color: #f60;
    text-decoration: underline;
  }
}

.index-header {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 2px #ccc;

  .logo-set-1 {
    top: -5px !important;
    // border-right:  1px solid #ccc;
  }

  .input-search {
    // border-color: #f50 !important;
    // border-radius: 0 !important;
    // width: 318px !important;
    // height: 28px !important;
    width: 347px !important;

    .search-text {
      width: 354px;
      display: block;
      // margin-top: 10px;
    }

    .search-text::placeholder {
      font-size: 12px;
      cursor: text;
      background: #fff;
      color: #cacaca;

    }
  }

  .search-submit {
    border-radius: 0 !important;
    // background-color: #f50 !important;
    // width: 80px !important;
    height: 40px !important;
    width: 79px !important;
    // font-size: 14px !important;
    // font-weight: normal !important;
    font-size: 16px !important;
  }

  .search-submit-1 {
    background-color: #000 !important;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }

  .ng-search {
    float: right !important;
    top: -15px !important;
    right: -220px !important;
  }

  .info-shop {
    float: left;
    position: absolute;
    top: 20px;
    left: 240px;

    span {
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }

    i {
      display: inline-block;
      width: 58px;
      height: 16px;
      background: url(../img/icon_pc_self_label.png) center no-repeat;
      background-size: 100% 100%;
    }

    p {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.banner {
  height: 120px;
  overflow: hidden;

  .banner-d {

    position: relative;

    .banner-img {
      position: absolute;
      top: 0px;
      left: -255px;
      width: 1920px;
      height: 120px;

    }

    .left-search {
      width: 181px;
      height: 30px;
      position: relative;

      input {
        position: absolute;
        height: 30px;
        width: 140px;
        border: 2px solid;
        box-sizing: border-box;
        float: right;
        outline: 0;
        border-color: #000;
        top: 50px;
        left: 900px;
        text-indent: 20px;
      }

      span {
        display: inline-block;
        width: 40px;
        height: 30px;
        float: left;
        cursor: pointer;
        background-color: #000;
        position: absolute;
        top: 50px;
        left: 1040px;

        i {
          width: 14px;
          height: 14px;
          display: block;
          background: url(../img/search.png) no-repeat center/cover;
          margin: 0 auto;
          margin-top: 8px;

        }
      }
    }
  }
}

nav {
  background-color: #000;
  height: 40px;
  // margin-bottom: 200px;

  .container {
    width: 950px;
    margin: 0 auto;
    height: 40px;
    position: relative;

    dt {
      float: left;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-family: "Microsoft YaHei";
      position: relative;

      &:hover .hover-box>.list {
        display: block;
      }

      span {
        padding-right: 20px;
        background: url(../img/icon_baracts.png) no-repeat 100px -93px;
      }

      .hover-box {
        width: 250px;
        height: 200px;
        position: absolute;
        top: 40px;
        left: 0;

        .list {
          width: 116px;
          height: 200px;
          background-color: #000;
          padding: 0 0 10px 10px;
          text-align: left;
          display: none;
          position: absolute;
          top: 0px;
          left: 0;
          float: left;
          z-index: 999;

          span {
            position: absolute;
            top: 0;
            right: 0;
            // color: #eee;
            // width: 10px;
            // height: 10px;
          }

          a {
            color: #fff;
            font-size: 12px;
          }

          li {
            position: relative;

            &:hover .list2 {
              display: block;
            }

            .list2 {
              width: 116px;
              height: 200px;
              background-color: #000;
              padding: 0 0 10px 10px;
              text-align: center;
              position: absolute;
              top: 0;
              left: 116px;
              float: right;
              // z-index: 999;
              display: none;
            }
          }
        }
      }
    }

    .right>ul {
      float: left;
      // width: 835px;
      height: 40px;
      overflow: hidden;

      li {
        // float: left;
        line-height: 40px;
        position: relative;
        float: left;
        padding: 0 20px;
        color: #fff;
        display: inline-block;

        a {
          color: #fff;
        }
      }
    }
  }
}

.category {
  width: 100%;
  background: #f8f8f8;

  .pos {
    position: relative;
  }

  .category-left {
    position: relative;
    height: 20px;
    padding: 10px 0;
    line-height: 20px;
    z-index: 10;


    .sep {
      padding: 0 6px;
      color: #bbb;
      font-family: SimSun;
      float: left;
    }

    a {
      color: #666;
      max-width: 400px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      float: left;
      font-size: 12px;
      .hover();
    }

    .dropdown {
      position: relative;
      float: left;
      height: 18px;
      border: 1px solid #ddd;
      color: #666;
      cursor: pointer;
      background-color: #fff;

      .dropdown-text {
        position: relative;
        height: 18px;
        padding: 0 20px 0 8px;
        line-height: 18px;
        // background: #fff;
        z-index: 2;

        a {
          float: left;
          color: #666;
          max-width: 400px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 12px;
          .hover();
        }

      }

      i {
        position: absolute;
        top: 7px;
        right: 6px;
        width: 8px;
        height: 4px;
        background-image: url(../img/f-icons-ex1.png);
        background-position: -1638px -206px;
        z-index: 3;
        -moz-transform-origin: 50% 50%;
        -webkit-transition: -webkit-transform .1s ease-in;
        -moz-transition: transform .1s ease-in;
        -o-transition: transform .1s ease-in;
        transition: transform .1s ease-in;
        _font-size: 0;
      }
    }

    .title {
      color: #999;
      float: left;

      a {
        color: #666;
        max-width: 400px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left;
      }
    }
  }

  .category-right {
    position: absolute;
    right: 0;
    top: 2px;
    height: 20px;
    padding: 8px 0;
    z-index: 10;
    cursor: default;

    .header-shop {
      padding-right: 8px;
      font-size: 0;

      .header-shop-label {
        vertical-align: top;
        display: inline-block;
        margin-right: 11px;
        margin-top: 3px;
        background: #f60;
        font-size: 10px;
        height: 14px;
        line-height: 14px;
        padding: 0 3px;
        color: #fff;
        border-radius: 2px;
      }

      .header-shop-name {
        vertical-align: top;
        display: inline-block;
        margin-right: 27px;
        margin-top: 4px;
        font-size: 12px;
        height: 12px;
        line-height: 12px;
        color: #333;
        max-width: 144px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .header-shop-concat {
        vertical-align: top;
        height: 16px;
        margin-top: 2px;
        display: inline-block;
        font-size: 0;

        span {
          vertical-align: top;
          display: inline-block;
          font-size: 12px;
          height: 16px;
          line-height: 16px;
          color: #666;
        }

        .header-shop-icon {
          width: 16px;
          margin-right: 1px;
          background: url(../img/header-contact-self.gif) no-repeat;
        }
      }
    }
  }

}

.info {
  margin-bottom: 400px;

  .content {
    margin-top: 10px;
    position: relative;

    .content-left {
      width: 450px;

      .imgZoom {
        width: 450px;
        height: 532px;
     
        >a {
          position: relative;
          display: block;
          border: 1px solid #eee;
          width: 450px;
          .glass{
            position: absolute;
            width: 170px;
            height: 170px;
            background-color: #ccc;
            left: 0px;
            top: 0px;
            opacity: .7;
            display: none;
            // z-index: 999;
          }
          .m{
            width: 450px;
            height: 450px;
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 99;
          }
          .big{
            img{
              transform: scale(2);
              width: 450px;
              height: 450px;
              display: block;
              position: absolute;
              left: 225px;
              top: 225px;
              // left: 0;
              // top: 0;
              // display: none;
            }
            width: 450px;
            height: 450px;
            // overflow: hidden;
            position: absolute;
            top: 0px;
            left: 450px;
            z-index: 10;
          }
          // height: 450px;
          img {
            display: block;
            width: 450px;
            height: 450px;
          }
        }

        .thumbnail-box {
          width: 450px;
          margin: 10px 30px 0;

          .thumbnail-list {
            width: 450px;

            li {
              width: 85px;
              float: left;
              // cursor: pointer;

              a {
                width: 60px;
                img {
                  display: block;
                  width: 60px;
                  height: 60px;
                }
              }

              a.current {
                display: block;
                border: 2px solid #f60;
              }
            }
          }
        }
      }

      .imgZoom-bottom {
        width: 451px;
        height: 20px;

        .z-item {
          float: left;
          cursor: pointer;
          margin-top: -2px;
          margin-right: 5px;
          line-height: 20px;

          a {
            color: #999;
            display: inline-block;
            line-height: 18px;
            font-size: 12px;
          }

          i {
            float: left;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 1px 3px 0;
            background-image: url(../img/f-icons-ex1.png);
            background-position: -1521px -533px;
          }
        }

        .share {
          float: left;
          width: auto;
          color: #999;
          cursor: pointer;
          margin-right: 5px;
          margin-top: -2px;
          position: relative;

          .label {
            display: inline-block;
            border: 1px solid #fff;
            padding-right: 3px;
            position: relative;
            z-index: 2;
            font-size: 12px;

            .sh-i {
              float: left;
              display: inline-block;
              width: 16px;
              height: 16px;
              margin: 2px 3px 0;
              background-image: url(../img/f-icons-ex1.png);
              background-position: -1441px -533px;
            }
          }

          .share-list {
            top: 20px;
            right: 0;
            width: 72px;
            height: auto;
            border-color: #ddd;
            padding: 6px 0 6px 8px;
            background-color: #fff;
            z-index: 1;
            border: 1px solid #fff;
            overflow: hidden;
            position: absolute;
          }
        }

        .favorite i {
          background-image: url(../img/f-icons-ex1.png);
          background-position: -1425px -533px;
        }

        .report {
          float: right;
          cursor: pointer;
          margin-top: -2px;
          margin-right: 5px;
          line-height: 20px;

          a {
            color: #999;
            display: inline-block;
            line-height: 18px;
            font-size: 12px;

            i {
              float: left;
              display: inline-block;
              width: 16px;
              height: 16px;
              margin: 2px 3px 0;
              background-image: url(../img/f-icons-ex1.png);
              background-position: -1489px -533px;
            }
          }
        }
      }
    }

    .content-right {
      position: absolute;
      top: 0px;
      right: 0px;

      hr {
        background-color: #eee;
        height: 1px;
        border: 0;
      }

      .right-title {
        padding: 13px 10px 12px;
        background: #fff;

        h1 {
          font: 700 16px/1.5 \5FAE\8F6F\96C5\9ED1;
          color: #222;
          word-break: break-all;
          min-height: 24px;
          width: 710px;

          span {
            float: left;
            min-width: 42px;
            padding: 0 1px;
            height: 20px;
            margin: 2px 5px 0 0;
            // _margin-top: 4px;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            color: #fff;
            line-height: 20px;
            vertical-align: middle;

            li {
              background-color: #f50;
            }
          }
        }

        h2 {
          font: normal 14px/18px \5FAE\8F6F\96C5\9ED1;
          color: #f60;
          margin-top: 3px;
          word-break: break-all;
          display: block;
          width: 710px;
        }
      }

      .dajuhui {
        background: url(../img/f-icons-ex1.png);
        background-position: 0 -842px;
        height: 40px;
        line-height: 40px;

        img {
          float: left;
          height: 40px;
          // vertical-align: top;
        }

        .djh-cd {
          i {
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            background: url(../img/f-icons-ex1.png);
            background-position: -1360px -698px;
            margin-left: 16px;
            margin-top: -3px;
          }

          .label {
            color: #fff;
            margin-left: 6px;
            font-size: 12px;
          }

          .proinfo-cd {
            margin-left: 10px;

            span {
              width: 30px;
              text-align: center;
              color: #fff;
              font-weight: 600;
              font-size: 14px;
            }

            em {
              width: 39px;
              height: 40px;
              font: 700 14px/40px Tahoma;
              color: #fff;
              overflow: hidden;
              word-break: break-all;
            }
          }
        }

        .djh-qg {
          span {
            position: absolute;
            color: #fff;
            font-size: 12px;
            font-family: SimSun;
          }

          float: right;
          position: relative;
          width: 80px;
          height: 40px;

          .rx {
            top: -9px;
            right: 20px;
          }

          .num {
            bottom: -9px;
            right: 20px;
          }
        }
      }

      .price {
        position: relative;
        padding: 0 0 8px;
        // margin-bottom: 15px;

        .hb {
          position: absolute;
          right: 2px;
          top: 2px;
          width: 234px;
          height: 128px;
          z-index: 11;

          .bg {
            width: 234px;
            height: 128px;
          }

          .code {
            position: absolute;
            top: 15px;
            right: 14px;
            width: 100px;
            height: 100px;
          }
        }

        .price-container {
          width: 730px;
          height: 132px;
          position: relative;
          min-height: 120px;
          background: rgb(255, 248, 243);
          padding-top: 12px;

          dl {
            margin-bottom: 4px;

            dt {
              float: left;
              width: 70px;
              padding-left: 10px;
              color: #999;
              overflow: hidden;
              font-family: simsun;
              margin-top: 1px;

              span {
                display: inline-block;
                width: 6em;
                font-family: simsun;
              }

              .w3 {
                letter-spacing: .5em;
                font-size: 12px;
                color: #999;
              }
            }

            dd {
              margin-left: 80px;

              .small-price {
                float: left;
                font-family: Tahoma;
                font-size: 14px;
                color: #999;

                i {
                  font-family: Arial;
                  font-weight: 700;
                }
              }

              .mainprice {
                height: 28px;
                float: left;
                font: 700 30px/25px Tahoma;
                color: #e00;

                i {
                  font-size: 18px;
                  font-family: Arial;
                }

                span {
                  font-size: 24px;
                  font-family: Tahoma;
                }
              }

              .btn-price-notice {
                float: left;
                color: #666;
                padding: 0 8px;
                border-radius: 4px;
                margin: 7px 0 4px 5px;
                text-decoration: underline;
              }
            }
          }

          .price-sn {
            width: 730px;
            height: 22px;
          }

          .price-promo {
            width: 730px;
            height: 28px;
          }
        }
      }

      .price-info-promo {
        padding: 5px 0;
        margin-bottom: 0;

        dt {
          float: left;
          width: 70px;
          padding-left: 10px;
          color: #999;
          overflow: hidden;
          font-family: simsun;

          span {
            display: inline-block;
            width: 6em;
            font-family: simsun;
          }

          .w2 {
            letter-spacing: 2em;
            color: #999;
            font-size: 12px;
            margin-top: 6px;
          }
        }

        dd {
          margin-left: 80px;
          position: relative;

          .recieve-yxhd {
            height: 14px;
            margin-bottom: 10px;

            span {
              color: #666;
              font-size: 12px;
            }

            i {
              color: #f60;
            }
          }

          .more-quan {
            margin-bottom: 10px;

            .s-img {
              float: left;
              display: inline-block;
              width: 30px;
              height: 30px;
              border: 1px solid #ddd;
            }

            span,
            a {
              margin-bottom: -3px;
            }

            .detail {
              font-size: 12px;
              color: #38D;
            }

            .p-quan2 {
              position: relative;
              color: #fff;
              line-height: 18px;
              display: inline-block;
              margin-right: 10px;

              span {
                border-top: 1px solid #f60;
                border-bottom: 1px solid #f60;
                line-height: 16px;
                padding: 0 2px 0 4px;
                background-color: #f60;
                display: inline-block;
                font-size: 12px;
              }

              .bl {
                left: 0;
                background: url(../img/f-icons-ex1.png);
                background-position: -1644px -76px;
              }

              .quan-border {
                position: absolute;
                top: 1px;
                height: 16px;
                width: 2px;
              }

              .bm {
                width: 5px;
                display: inline-block;
                height: 18px;
                vertical-align: top;
                background: url(../img/f-icons-ex1.png);
                background-position: -1638px -176px;
              }

              .p-quan-white {
                padding: 0 4px 0 2px;
                background: #fff;
                color: #f60;
              }

              .br {
                right: 0;
                background: url(../img/f-icons-ex1.png);
                background-position: -1642px -58px;
              }
            }
          }
        }

        .gua-quan {
          font-size: 12px;
          margin-bottom: 10px;
        }

        .guaquan {
          color: #666;
          font-size: 12px;
        }

        .zuan {
          float: left;
          display: block;
          width: 65px;
          height: 18px;
          background: url(../img/f-icons-ex1.png);
          background-position: -1487px -462px;
          margin-right: 10px;
        }

        .label-zp {
          float: left;
          width: 52px;
          height: 16px;
          line-height: 16px;
          color: #f60;
          text-align: center;
          border: 1px solid #f60;
          background-color: #fff !important;
          font-size: 12px;
        }

        .zp {
          margin-top: 10px;
        }

        .i-1 {
          float: left;
          display: inline-block;
          border: 4px solid;
          border-color: transparent transparent transparent #ccc;
          font-size: 0;
          margin-left: 4px;
          margin-top: 4px;
          // margin-top: 11px;
        }

        .i-zp {
          margin-top: 15px;
        }

        .hs {
          position: relative;
          display: inline-block;
          color: #f60;
          line-height: 19px;
          border: solid #ffc8a3;
          border-width: 1px 0;
          margin-left: 10px;
          margin-right: 15px;
          padding-left: 12px;
          cursor: pointer;
          font-size: 12px;
        }

        .i-icon {
          background: url(../img/f-icons-ex1.png);
          background-position: -1356px -731px;
          position: absolute;
          width: 15px;
          height: 15px;
          left: -7px;
          top: 2px;
          // background: #f60;
        }

        .color-chose {
          height: 38px;

          ul {
            height: 38px;

            li {
              height: 38px;
              position: relative;
              padding: 0 8px;
              margin-left: 5px;
              border: 1px solid #ccc;
              float: left;
              cursor: pointer;
              // z-index: 10;

              img {
                width: 38px;
                height: 38px;
              }

              span {
                height: 38px;
                line-height: 38px;
                font-size: 12px;
                color: #666;
              }
            }

            li.active {
              border: 1px solid #f50;
            }

            i.active {
              background-image: url(../img/f-icons-ex1.png);
              position: absolute;
              right: -1px;
              bottom: -1px;
              width: 12px;
              height: 12px;
              background-position: -1633px -533px;
            }
          }

          .bao {
            position: absolute;
            top: 12px;
            left: 15px;
            width: 16px;
            height: 16px;
            display: block;
          }

          .baoxiu {
            width: 180px;
            text-indent: 30px;
          }

          .func {
            width: 22px;
            float: left;
            height: 30px;
          }

          .minus {
            margin-left: 5px;
            background-image: url(../img/f-icons-ex1.png);
            background-position: -970px -668px;
          }

          input {
            float: left;
            width: 25px;
            height: 18px;
            padding: 5px;
            border: 1px solid #ddd;
            margin: 0 5px;
            text-align: center;
          }

          .plus {
            background-position: -992px -668px;
            background-image: url(../img/f-icons-ex1.png);
          }
        }

        .service {
          position: relative;

          .ji {
            position: absolute;
            top: 0px;
            left: 15px;
          }

          .tui {
            position: absolute;
            top: 0px;
            left: 110px;
          }

          a {
            img {
              position: absolute;
              top: 6px;
              left: -11px;
              width: 14px;
              height: 14px;
              z-index: 1;
            }
          }
        }

        .bold {
          font-weight: bold;
        }
      }

      .btn-box {
        margin-top: 10px;
        height: 55px;
        position: relative;

        .buy {
          display: block;
          width: 115px;
          height: 40px;
          color: #fff;
          font-size: 16px;
          background-color: #663200;
          border-radius: 3px;
          font-weight: 600;
          text-align: center;
          line-height: 40px;
          position: absolute;
          left: 85px;
          top: 0px;
        }

        .join {
          display: block;
          width: 115px;
          height: 40px;
          color: #fff;
          font-size: 16px;
          background-color: #f50;
          border-radius: 3px;
          font-weight: 600;
          text-align: center;
          line-height: 40px;
          position: absolute;
          left: 220px;
          top: 0;
        }
      }
    }
  }
}

.detail-more {
  overflow: hidden;

  .procon {
    width: 990px;
    float: right;

    .tabarea {
      border: 1px solid #eee;
      background: #fff;

      .procon-toolbar {
        height: 47px;
        position: relative;

        .tabarea-items {
          background: #f7f7f7;

          li {
            float: left;

            a {
              height: 47px;
              line-height: 47px;
              padding: 0 25px;
              float: left;
              font-size: 14px;
              color: #222;
            }
          }
        }

        .detail-tab {
          height: 47px;

          li.current a {
            position: relative;
            margin-top: -1px;
            color: #f60;
            border-top: 2px solid #f60;
            background: #fff;
            box-sizing: border-box;
          }
        }
      }

      .procon-desc {
        .container-desc {
          background: #fff;
          width: 788px;
          float: left;

          .productDetail {
            padding: 18px;
            overflow: hidden;

            p {
              a {
                img {
                  vertical-align: middle;
                  max-width: 750px;
                }
              }
            }
          }
        }
      }
    }
  }
}