@import './header.less';
@import './footer.less';
@import './index-header.less';

.wrapper-cart {
  width: 1070px;
}

.index-header {
  position: relative;

  .logo-set-1 {
    left: 45px !important;
  }

  .input-search {
    border-color: #f50 !important;
    border-radius: 0 !important;
    width: 318px !important;
    height: 28px !important;

    .search-text {
      width: 354px;
      display: block;
      // margin-top: 7px;
    }
  }

  .search-submit {
    border-radius: 0 !important;
    background-color: #f50 !important;
    width: 80px !important;
    height: 32px !important;
    font-size: 14px !important;
    font-weight: normal !important;
  }

  .ng-search {
    float: right !important;
    top: 5px !important;
    right: -220px !important;
  }

  .sh {
    float: left;
    width: 990px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 226px;
    z-index: -1;

    .city-select {
      .delivery-desc {
        margin-right: 7px;
        line-height: 26px;
        font-size: 12px;
      }

      .fl {
        float: left;
      }

      .c6 {
        color: #666;
      }
    }

    .ui-city {
      display: inline-block;
      font-size: 12px;
      position: relative;
      z-index: 0;
      display: inline-block;
      border: 1px solid #bbb;
      background: #fff;
      position: relative;
      z-index: 100;

      em {
        span {
          padding-left: 6px;
        }
      }

      b {
        display: inline-block;
        width: 0;
        height: 0;
        border-color: #bbb transparent transparent;
        border-width: 5px;
        border-style: solid dashed dashed;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
      }

      a {
        line-height: 14px;
        color: #333;
        text-decoration: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.cart-bg {
  margin-top: 40px;

  .wrapper-w {
    width: 990px;
    min-width: 990px;
    margin: 0 auto;
    clear: both;

    .m-cart-header {
      border-top: 2px solid #ccc;

      .cart-table-header {
        .bigbox {
          height: 100px;
        }

        .inner-box {
          // height: 100%; 
          // height: 32px;
          overflow: hidden;
          border: 1px solid #ddd;

          .th-chk {
            position: relative;
            width: 226px;
            text-align: left;
            overflow: hidden;

            .cart-checkbox {
              float: left;
              width: 15px;
              height: 15px;
              margin: 10px 10px 0;
              overflow: hidden;
              display: inline;
              vertical-align: middle;

              label {
                width: 14px;
                height: 14px;
                background: url(../img/lion-cart.png) 0 -20px;
                position: relative;
                z-index: 2;
                float: left;
                cursor: pointer;
                overflow: hidden;
                display: none;
              }

              input {
                display: block;
                position: absolute;
                // top: -28px;
                // left: -38px;
                opacity: 1;
                z-index: 10;
              }
            }
          }

          .th {
            float: left;
            height: 32px;
            line-height: 32px
          }

          .th-item {
            width: 169px;
          }

          .th {
            float: left;
            height: 32px;
            line-height: 32px;
            text-align: left;
            font-size: 12px;
          }

          .th-specs {
            width: 135px;
          }

          .th-price {
            width: 120px;
          }

          .th-count {
            width: 95px;
          }

          .th-amount {
            width: 75px;
          }

          .th-sum {
            width: 115px;
            padding-left: 30px;
          }

          .th-op {
            width: 70px;
          }
        }

        .c6 {
          color: #666;
        }

      }
    }

    .m-cart-title {
      border: 0;
      margin-top: 20px;

      .inner-box {
        border: 0 !important;
      }

      .form {
        font-weight: bold;
        color: #333;
      }

      .lion-self-icon {
        float: left;
        margin-top: 4px;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 6px;
        overflow: hidden;
        background: url(../img/lion-cart\ 2.png) no-repeat;
      }

      .right {
        float: right;

        .form1 {
          font-size: 12px;
          color: #999;
        }

        .form2 {
          font-size: 12px;
          color: #333;
        }
      }
    }

    .cart-list {
      border: 0;
      position: relative;

      .inner-box-1 {
        // height: 130px !important;
        height: 100% !important;

        .th1 {
          margin-top: 25px;

          .ch1 {
            margin-right: 10px;
          }
        }

        .th2 {
          a {
            display: block;
            font-size: 12px;
            color: #666;
            height: 20px;
          }
        }

        .color-chose {
          height: 38px;

          ul {
            height: 38px;

            li {
              height: 38px;
              position: relative;
              padding: 0 8px;
              margin-left: 5px;
              border: 1px solid #ccc;
              float: left;

              img {
                width: 38px;
                height: 38px;
              }

              span {
                height: 38px;
                line-height: 38px;
                font-size: 12px;
                color: #666;
              }
            }

            li.active {
              border: 1px solid #f50;
            }

            i.active {
              background-image: url(../img/f-icons-ex1.png);
              position: absolute;
              right: -1px;
              bottom: -1px;
              width: 12px;
              height: 12px;
              background-position: -1633px -533px;
            }
          }

          .bao {
            position: absolute;
            top: 12px;
            left: 15px;
            width: 16px;
            height: 16px;
            display: block;
          }

          .baoxiu {
            width: 180px;
            text-indent: 30px;
          }

          .func {
            width: 20px;
            float: left;
            height: 30px;
          }

          .minus {
            margin-left: 5px;
            background-image: url(../img/f-icons-ex1.png);
            background-position: -970px -668px;
          }

          input {
            float: left;
            width: 25px;
            height: 18px;
            padding: 5px;
            border: 1px solid #ddd;
            margin: 0 5px;
            text-align: center;
          }

          .plus {
            background-position: -992px -668px;
            background-image: url(../img/f-icons-ex1.png);
          }
        }

        // .ch-2{
        //   position: relative;
        // }
        // .ch-1{
        //   position: absolute;
        //   top: 0;
        //   left: 0px;
        // }
      }

      .item {
        width: 313px;
        height: 94px;
        position: absolute;
        top: 20px;
        left: 80px;

        img {
          width: 80px;
          height: 80px;
          float: left;
        }

        a {
          float: left;
          display: block;
          margin-top: 12px;
          margin-left: 15px;

          span {
            display: block;
            width: 179px;
            font-size: 12px;
            color: #333;
          }
        }
      }
    }

    .cart-js {
      margin-top: 30px;
      border: 0;

      .inner-box-2 {
        position: relative;
        height: 60px !important;

        .mt {
          margin-top: 15px;
        }

        .del {
          position: absolute;
          top: 23px;
          left: 100px;
          font-size: 12px;
        }
      }

      .collect-sj {
        position: relative;
        float: right;
        line-height: 22px;
        margin-right: 20px;
        cursor: pointer;

        .collect-sj-left {
          position: absolute;
          top: 15px;
          left: -90px;
        }

        a {
          color: #333;
          font-size: 12px;

          b {
            color: #f60;
          }

          span {
            display: inline-block;
            width: 10px;
            height: 12px;
            background: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198) no-repeat;
            background-position: -11px -108px;
            margin-left: 5px;
          }
        }
      }

      .collect-sj-right {
        float: right;
        width: 300px;
        position: relative;
        border-left: 1px solid #ccc;
        padding: 0 0 0 20px;
        margin-top: 5px;

        a {
          position: absolute;
          top: -5px;
          left: 220px;
          display: block;
          width: 120px;
          height: 60px;
          font-size: 18px;
          background-color: #f60;
          color: #fff;
          text-align: center;
          line-height: 60px;
          font-weight: bold;
          float: right;
        }

        span {
          font-size: 12px;
        }

        .zprice {
          color: #333;
        }

        .yunfei {
          color: #999;
        }

        p:first-child {
          b {
            font-size: 22px;

            i {
              font-size: 12px;
              color: #f60;
            }
          }
        }

        p:last-child {
          b {
            font-size: 12px;

            i {
              font-size: 12px;
            }
          }
        }
      }
    }

    .item {
      // height: 134px;
      width: 100%;
      box-sizing: border-box;
      // background: #f50;

      position: relative;
      margin-bottom: -1px;
      padding: 15px 20px;
      border: 1px solid #dfdfdf;

      >.item-main {
        >.td-chk {
          height: 94px;
          width: 47px;
          position: relative;
          float: left;
          z-index: 10;

          >.cart-checkbox {
            float: left;
            width: 15px;
            height: 17px;
            margin-left: 15px;
            overflow: hidden;
            display: inline;
            vertical-align: middle;

            input {
              margin-right: 8px;
              margin-top: 3px;
            }

            >label {
              position: relative;
              z-index: 2;
              float: left;
              cursor: pointer;
              overflow: hidden;
              width: 14px;
              height: 14px;
              background: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198) 0 -20px;
            }
          }
        }

        >.td-item {
          height: 94px;
          width: 392px;
          position: relative;
          // z-index: -1;

          >.item-pic {
            float: left;
            width: 80px;
            height: 80px;
            margin-right: 15px;
            background: #fff;
            overflow: hidden;

            >img {
              display: block;
              width: 80px;
              height: 80px;
              margin: -1px 0 0 -1px;
            }
          }

          >.item-info {
            width: 185px;
            float: left;
            line-height: 16px;

            >a {
              display: block;
              clear: both;
              margin-bottom: 2px;
              max-height: 36px;
              line-height: 18px;
              color: #333;
              word-break: break-all;
              word-wrap: break-word;
              overflow: hidden;
              font-size: 12px;
            }

            >.item-remark {
              position: absolute;
              left: 160px;
              bottom: 35px;
            }
          }

          >.td-specs {
            height: 94px;
            position: absolute;
            left: 368px;
            width: 103px;

            // background-color: #333;
            >.specs-line {
              .price-now {

                i,
                em {
                  font-size: 12px;
                }
              }

              position: relative;
              z-index: 5;

              >p {
                color: #999;
                font-size: 12px;
                overflow: hidden;
              }
            }
          }

          >.td-price {
            height: 94px;
            position: absolute;
            left: 525px;
            width: 80px;

            >.specs-line {
              >.price-line {
                >.icon-promo-price {
                  padding: 2px 5px;
                  margin: 2px 0 0;
                  background: #fff6ef;
                  border-radius: 2px;
                  color: #f60;
                  border: 1px solid #ffe2c9;
                  line-height: 16px;
                  text-align: center;
                  display: inline-block;
                  height: 16px;
                  font-size: 12px;
                }
              }
            }

            >.td-amount {
              height: 94px;
              width: 177px;
              position: absolute;
              left: 50px;
              top: 0px;
              text-align: center;

              >.item-amount {
                width: 70px;
                padding-left: 40px;
                height: 22px;
                overflow: hidden;
                text-align: center;
                padding-left: 52px;

                >a {
                  float: left;
                  width: 22px;
                  height: 22px;
                  background-image: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198);
                  background-repeat: no-repeat;
                  background-color: #f1f1f1;
                  line-height: 100px;
                  overflow: hidden;
                }

                >.minus {
                  background-position: -87px -24px;
                  // cursor: no-drop;
                }

                >input {
                  height: 14px;
                  float: left;
                  width: 26px;
                  padding: 3px 0;
                  border-width: 1px 0;
                  color: #666;
                  transition: none;
                  border: 1px solid #ccc;
                  line-height: 14px;
                  text-align: center;
                }

                >.plus {
                  margin-right: -3px;
                  background-position: -111px 0;
                }
              }
            }
          }

          >.td-sum {
            width: 80px;
            text-align: right;
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
            position: absolute;
            left: 705px;
            top: 3px;
            font-size: 12px;

            b {
              font-weight: bold;

              i {
                font-family: Arial;
              }

              em {
                margin-left: 1px;
                font-family: tahoma;
              }
            }
          }

          >.td-op {
            padding-left: 115px;
            width: 58px;
            padding-left: 53px;
            text-align: left;
            position: absolute;
            left: 790px;
            font-size: 12px;
            color: #333;
            a{
              color: #333;
            }
          }
        }
      }
    }

    .toolbar {
      width: 1188px;
      height: 58px;
      background: #fff;
      line-height: 58px;
      border: 1px solid #ddd;
      margin-top: 30px;

      >.checkbox {
        position: relative;
        width: 50px;
        height: 18px;
        margin-top: 20px;
        float: left;
        margin: 0 10px 0;
      }

      >.del-selected {
        color: #666;
      }

      >.right {
        width: 420px;
        height: 59px;
        float: right;

        >.collect {
          width: 286px;
          height: 51px;
          float: left;
        }

        >.cart-total-price {
          float: right;
          line-height: 22px;
        }
      }
    }
  }
}