@import './header.less';
@import './footer.less';
@import './index-header.less';

.wrapper-cart {
  width: 1070px;
}

.index-header {
  position: relative;

  .logo-set-1 {
    left: 45px !important;
  }

  .input-search {
    border-color: #f50 !important;
    border-radius: 0 !important;
    width: 318px !important;
    height: 28px !important;

    .search-text {
      width: 354px;
      display: block;
      margin-top: 7px;
    }
  }

  .search-submit {
    border-radius: 0 !important;
    background-color: #f50 !important;
    width: 80px !important;
    height: 32px !important;
    font-size: 14px !important;
    font-weight: normal !important;
  }

  .ng-search {
    float: right !important;
    top: 5px !important;
    right: -220px !important;
  }

  .sh {
    float: left;
    width: 990px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 226px;

    .city-select {
      .delivery-desc {
        margin-right: 7px;
        line-height: 26px;
        font-size: 12px;
      }

      .fl {
        float: left;
      }

      .c6 {
        color: #666;
      }
    }

    .ui-city {
      display: inline-block;
      font-size: 12px;
      position: relative;
      z-index: 0;
      display: inline-block;
      border: 1px solid #bbb;
      background: #fff;
      position: relative;
      z-index: 100;

      em {
        span {
          padding-left: 6px;
        }
      }

      b {
        display: inline-block;
        width: 0;
        height: 0;
        border-color: #bbb transparent transparent;
        border-width: 5px;
        border-style: solid dashed dashed;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
      }

      a {
        line-height: 14px;
        color: #333;
        text-decoration: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.cart-bg {
  margin-top: 40px;

  .wrapper-w {
    width: 990px;
    min-width: 990px;
    margin: 0 auto;
    clear: both;

    .m-cart-header {
      border-top: 2px solid #ccc;

      .cart-table-header {
        .inner-box {
          height: 32px;
          border: 1px solid #ddd;

          .th-chk {
            position: relative;
            width: 226px;
            text-align: left;
            overflow: hidden;

            .cart-checkbox {
              float: left;
              width: 15px;
              height: 15px;
              margin: 10px 10px 0;
              overflow: hidden;
              display: inline;
              vertical-align: middle;

              label {
                width: 14px;
                height: 14px;
                background: url(../img/lion-cart.png) 0 -20px;
                position: relative;
                z-index: 2;
                float: left;
                cursor: pointer;
                overflow: hidden;
              }

              input {
                position: absolute;
                top: -28px;
                left: -38px;
                opacity: 0;
              }
            }
          }

          .th {
            float: left;
            height: 32px;
            line-height: 32px
          }

          .th-item {
            width: 169px;
          }

          .th {
            float: left;
            height: 32px;
            line-height: 32px;
            text-align: left;
            font-size: 12px;
          }

          .th-specs {
            width: 135px;
          }

          .th-price {
            width: 120px;
          }

          .th-count {
            width: 95px;
          }

          .th-sum {
            width: 115px;
            padding-left: 30px;
          }

          .th-op {
            width: 70px;
          }
        }

        .c6 {
          color: #666;
        }

      }
    }

    .m-cart-title {
      border: 0;
      margin-top: 20px;

      .inner-box {
        border: 0 !important;
      }

      .form {
        font-weight: bold;
        color: #333;
      }

      .lion-self-icon {
        float: left;
        margin-top: 4px;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 6px;
        overflow: hidden;
        background: url(../img/lion-cart\ 2.png) no-repeat;
      }

      .right {
        float: right;

        .form1 {
          font-size: 12px;
          color: #999;
        }

        .form2 {
          font-size: 12px;
          color: #333;
        }
      }
    }

    .cart-list {
      border: 0;
      position: relative;

      .inner-box-1 {
        height: 130px !important;

        .th1 {
          margin-top: 25px;

          .ch1 {
            margin-right: 10px;
          }
        }

        .th2 {
          a {
            display: block;
            font-size: 12px;
            color: #666;
            height: 20px;
          }
        }
        .color-chose {
          height: 38px;
          ul {
            height: 38px;
            li {
              height: 38px;
              position: relative;
              padding: 0 8px;
              margin-left: 5px;
              border: 1px solid #ccc;
              float: left;

              img {
                width: 38px;
                height: 38px;
              }

              span {
                height: 38px;
                line-height: 38px;
                font-size: 12px;
                color: #666;
              }
            }

            li.active {
              border: 1px solid #f50;
            }

            i.active {
              background-image: url(../img/f-icons-ex1.png);
              position: absolute;
              right: -1px;
              bottom: -1px;
              width: 12px;
              height: 12px;
              background-position: -1633px -533px;
            }
          }

          .bao {
            position: absolute;
            top: 12px;
            left: 15px;
            width: 16px;
            height: 16px;
            display: block;
          }

          .baoxiu {
            width: 180px;
            text-indent: 30px;
          }

          .func {
            width: 20px;
            float: left;
            height: 30px;
          }

          .minus {
            margin-left: 5px;
            background-image: url(../img/f-icons-ex1.png);
            background-position: -970px -668px;
          }

          input {
            float: left;
            width: 25px;
            height: 18px;
            padding: 5px;
            border: 1px solid #ddd;
            margin: 0 5px;
            text-align: center;
          }

          .plus {
            background-position: -992px -668px;
            background-image: url(../img/f-icons-ex1.png);
          }
        }
        // .ch-2{
        //   position: relative;
        // }
        // .ch-1{
        //   position: absolute;
        //   top: 0;
        //   left: 0px;
        // }
      }

      .item {
        width: 313px;
        height: 94px;
        position: absolute;
        top: 20px;
        left: 80px;

        img {
          width: 80px;
          height: 80px;
          float: left;
        }

        a {
          float: left;
          display: block;
          margin-top: 12px;
          margin-left: 15px;

          span {
            display: block;
            width: 179px;
            font-size: 12px;
            color: #333;
          }
        }
      }
    }

    .cart-js {
      margin-top: 30px;
      border: 0;

      .inner-box-2 {
        position: relative;
        height: 60px !important;

        .mt {
          margin-top: 15px;
        }

        .del {
          position: absolute;
          top: 23px;
          left: 100px;
          font-size: 12px;
        }
      }

      .collect-sj {
        position: relative;
        float: right;
        line-height: 22px;
        margin-right: 20px;
        cursor: pointer;

        .collect-sj-left {
          position: absolute;
          top: 15px;
          left: -90px;
        }

        a {
          color: #333;
          font-size: 12px;

          b {
            color: #f60;
          }

          span {
            display: inline-block;
            width: 10px;
            height: 12px;
            background: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198) no-repeat;
            background-position: -11px -108px;
            margin-left: 5px;
          }
        }
      }

      .collect-sj-right {
        float: right;
        width: 300px;
        position: relative;
        border-left: 1px solid #ccc;
        padding: 0 0 0 20px;
        margin-top: 5px;

        a {
          position: absolute;
          top: -5px;
          left: 220px;
          display: block;
          width: 120px;
          height: 60px;
          font-size: 18px;
          background-color: #f60;
          color: #fff;
          text-align: center;
          line-height: 60px;
          font-weight: bold;
          float: right;
        }

        span {
          font-size: 12px;
        }

        .zprice {
          color: #333;
        }

        .yunfei {
          color: #999;
        }

        p:first-child {
          b {
            font-size: 22px;

            i {
              font-size: 12px;
              color: #f60;
            }
          }
        }

        p:last-child {
          b {
            font-size: 12px;

            i {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}