header {
  height: 36px;
  background-color: #F5F5F5;
}
header .header-left {
  position: relative;
}
header .header-left:hover {
  color: #ff8000;
}
header .header-left .address-icon {
  float: left;
  width: 12px;
  height: 15px;
  margin: 10px 6px 0 6px;
  background: url(../img/sn-jinglingtu.png) -387px -183px;
}
header .iconfont {
  font-size: 12px !important;
}
header .header-left > a {
  color: #666;
  font-size: 12px;
  line-height: 36px;
  display: inline-block;
  height: 100%;
  text-align: left;
  position: relative;
  top: 0;
  float: left;
  padding: 0 10px;
  border: 1px solid transparent;
}
header .header-left > a:hover {
  color: #ff8000;
}
header .header-mid > a {
  position: relative;
  top: 0;
  color: #666;
  font-size: 12px;
  line-height: 36px;
  display: inline-block;
  text-align: left;
  float: left;
  margin-left: 155px;
  margin-right: 5px;
}
header .header-mid > a:hover {
  color: #ff8000;
}
header .header-mid > .login {
  display: inline-block;
  width: 36px;
}
header .header-right > a {
  position: relative;
  top: 0;
  color: #666;
  font-size: 12px;
  line-height: 36px;
  display: inline-block;
  height: 100%;
  text-align: left;
  float: left;
  padding: 0 10px;
  border: 1px solid transparent;
}
header .header-right > a:hover {
  color: #ff8000;
}
header .header-mid > .login-l {
  display: inline-block;
  width: 48px;
  margin-left: 10px;
}
header .header-active {
  color: #ff6600 !important;
}
header .header-active-hover {
  color: #ff6600 !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-bottom: 0 !important;
}
header .content-hover {
  position: absolute;
  top: 36px;
  background-color: #fff;
  width: 988px;
  padding: 20px 0;
  left: auto;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 11;
  display: none;
}
header .content-hover .dl-list {
  float: left;
  width: 176px;
  border-right: 1px solid #eee;
  padding-left: 20px;
}
header .content-hover .dl-list dt {
  height: 25px;
  width: 100%;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  line-height: 17px;
}
header .content-hover .dl-list dt a {
  color: #666;
}
header .content-hover .dl-list dd {
  width: 100%;
}
header .content-hover .dl-list dd p {
  float: left;
  height: 25px;
  width: 78px;
  line-height: 25px;
}
header .content-hover .dl-list dd p a {
  color: #666;
  position: relative;
  display: inline-block;
  font-size: 12px;
}
header .sj-content {
  width: 140px;
  left: 86px;
}
header .sj-content .dl-list {
  border: 0;
  padding-left: 10px;
}
header .sj-content-3 {
  left: 813px;
}
header .sj-content-2 {
  left: 115px;
}
header .sj-content-4 {
  left: 784px;
  width: 83px;
}
header .sj-content-4 dd {
  float: left;
}
header .sj-content-5 {
  display: block;
  left: 772px;
  width: 530px;
  height: 120px;
  display: none;
}
header .sj-content-5 .dl-list {
  width: 100%;
  height: 120px;
  border: 0;
  padding-left: 10px;
}
header .sj-content-5 dd {
  width: 120px !important;
  height: 120px !important;
  float: left;
  margin-right: 10px;
}
header .sj-content-5 dd a {
  width: 120px;
  height: 120px;
}
header .sj-content-5 dd a img {
  width: 120px;
  height: 120px;
}
.index-header .header-con {
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.index-header .logo-set {
  position: absolute;
  top: 10px;
  left: 0;
}
.index-header .logo-box > a > img {
  width: 190px;
  height: 90px;
}
.index-header .header-search {
  position: absolute;
  height: 100px;
  width: 600px;
  top: 0;
  left: 300px;
}
.index-header .header-search .ng-search {
  position: absolute;
  height: 100px;
  width: 600px;
  top: 0;
  z-index: 8;
}
.index-header .header-search .ng-search .g-search {
  display: inline;
  position: relative;
  float: right;
  width: 540px;
  margin: 30px 0 0 0;
  z-index: 6790;
  font-family: 'Microsoft YaHei';
}
.index-header .header-search .input-search {
  width: 400px;
  height: 36px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  float: left;
  padding: 0 0 0 28px;
  border: 2px solid #ff8000;
  border-right: 0;
}
.index-header .header-search .input-search > i {
  position: relative;
  top: -28px;
  left: -20px;
}
.index-header .header-search .input-search > input {
  display: block;
  color: #bbb;
  font-size: 12px;
  background: #fff;
  height: 100%;
  line-height: 36px;
  width: 380px;
}
.index-header .header-search .search-submit {
  width: 110px;
  height: 40px;
  background-color: #ff8000;
  border-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 18px;
  padding: 0;
  font-family: 'MicroSoft YaHei';
  font-weight: bold;
  letter-spacing: 2px;
  text-indent: 2px;
  color: #FFF;
  border: 0;
  cursor: pointer;
}
.index-header .header-search .search-bottom-content {
  position: absolute;
  bottom: 7px;
  left: 55px;
  z-index: 10;
}
.index-header .header-search .search-bottom-content .border-left {
  border-left: 1px solid #ccc;
}
.index-header .header-search .search-bottom-content a {
  display: inline-block;
  color: #666;
  font-size: 12px;
  padding: 0 7px;
}
.index-header .header-search .search-bottom-content a:hover {
  color: #ff6600;
}
.index-header .header-search .search-bottom-content .font-active {
  color: #ff6600;
}
footer {
  background: #FFF;
  width: 100%;
  height: 210px;
  /* min-width: 990px; */
  text-align: center;
}
footer .sn-footer-first {
  width: 100%;
  background: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  padding: 0 0 10px;
}
footer .sn-footer-first .promise-box {
  padding: 12px 0;
  height: 73px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}
footer .sn-footer-first .promise-box .li-box {
  width: 230px;
  float: left;
  position: relative;
}
footer .sn-footer-first .promise-box .li-box img {
  float: left;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 30px;
}
footer .sn-footer-first .promise-box div {
  width: 100%;
  width: 200px;
  height: 100%;
  position: relative;
}
footer .sn-footer-first .promise-box div a {
  display: block;
  position: absolute;
  top: 5px;
  left: 90px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
footer .sn-footer-first .promise-box div a:hover {
  color: #ff6600;
}
footer .sn-footer-first .promise-box div a:hover {
  color: #f60;
  text-decoration: underline;
}
footer .sn-footer-first .promise-box div p {
  width: 120px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 26px;
  left: 90px;
  font-size: 12px;
  color: #545454;
  text-align: left;
}
footer .sn-footer-first .help-box {
  position: relative;
  width: 1050px;
  height: 180px;
}
footer .sn-footer-first .help-box dl:last-child {
  position: absolute;
  top: 0px;
  right: -200px;
}
footer .sn-footer-first .help-box dl {
  float: left;
  height: 160px;
  width: 210px;
  text-align: left;
}
footer .sn-footer-first .help-box dl dt {
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  color: #545454;
  height: 35px;
  font-size: 14px;
  overflow: hidden;
}
footer .sn-footer-first .help-box dl dd {
  width: 100%;
  line-height: 22px;
}
footer .sn-footer-first .help-box dl dd a {
  color: #545454;
  font-size: 12px;
}
footer .sn-footer-first .help-box dl dd a:hover {
  color: #ff6600;
}
footer .sn-footer-first .help-box dl dd a:hover {
  color: #f60;
  text-decoration: underline;
}
footer .sn-footer {
  padding: 10px 0 0 ;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
}
footer .sn-footer p a:hover {
  color: #ff6600;
}
footer .sn-footer span {
  color: #888;
  padding: 0 4px;
}
footer .sn-footer .list-1 {
  height: 25px;
  line-height: 25px;
}
footer .sn-footer .list-1 a {
  color: #666;
  font-size: 12px;
}
footer .sn-footer .list-2 {
  line-height: 25px;
  height: 25px;
  width: 1190px;
  float: left;
  color: #999;
  font-size: 12px;
}
footer .sn-footer .list-2 a {
  color: #999;
  font-size: 12px;
}
footer .sn-footer .list-2 .gongan {
  position: relative;
}
footer .sn-footer .list-2 .gongan .jinhui {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url(../img/gwab-icon.png) 0 0 no-repeat;
}
footer .sn-footer .f-img {
  height: 25px;
  margin-top: 5px;
  margin: 0 auto;
}
footer .sn-footer .f-img a {
  display: inline-block;
  margin-right: 8px;
  height: 100%;
}
footer .sn-footer .f-img a img {
  height: 100%;
}
footer .sn-fix-nav {
  min-width: 1190px;
  position: sticky;
  /* display: none; */
  height: 50px;
  width: 100%;
  /* min-width: 990px; */
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  left: 0;
  top: 500px;
  opacity: 0.95;
}
.index-header {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 2px #ccc;
}
.index-header .logo-set-1 {
  top: -5px !important;
}
.index-header .input-search {
  width: 347px !important;
}
.index-header .input-search .search-text {
  width: 354px;
  display: block;
}
.index-header .input-search .search-text::placeholder {
  font-size: 12px;
  cursor: text;
  background: #fff;
  color: #cacaca;
}
.index-header .search-submit {
  border-radius: 0 !important;
  height: 40px !important;
  width: 79px !important;
  font-size: 16px !important;
}
.index-header .search-submit-1 {
  background-color: #000 !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}
.index-header .ng-search {
  float: right !important;
  top: -15px !important;
  right: -220px !important;
}
.index-header .info-shop {
  float: left;
  position: absolute;
  top: 20px;
  left: 240px;
}
.index-header .info-shop span {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.index-header .info-shop i {
  display: inline-block;
  width: 58px;
  height: 16px;
  background: url(../img/icon_pc_self_label.png) center no-repeat;
  background-size: 100% 100%;
}
.index-header .info-shop p {
  font-size: 12px;
  margin-top: 10px;
}
.banner {
  height: 120px;
  overflow: hidden;
}
.banner .banner-d {
  position: relative;
}
.banner .banner-d .banner-img {
  position: absolute;
  top: 0px;
  left: -255px;
  width: 1920px;
  height: 120px;
}
.banner .banner-d .left-search {
  width: 181px;
  height: 30px;
  position: relative;
}
.banner .banner-d .left-search input {
  position: absolute;
  height: 30px;
  width: 140px;
  border: 2px solid;
  box-sizing: border-box;
  float: right;
  outline: 0;
  border-color: #000;
  top: 50px;
  left: 900px;
  text-indent: 20px;
}
.banner .banner-d .left-search span {
  display: inline-block;
  width: 40px;
  height: 30px;
  float: left;
  cursor: pointer;
  background-color: #000;
  position: absolute;
  top: 50px;
  left: 1040px;
}
.banner .banner-d .left-search span i {
  width: 14px;
  height: 14px;
  display: block;
  background: url(../img/search.png) no-repeat center / cover;
  margin: 0 auto;
  margin-top: 8px;
}
nav {
  background-color: #000;
  height: 40px;
}
nav .container {
  width: 950px;
  margin: 0 auto;
  height: 40px;
  position: relative;
}
nav .container dt {
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  position: relative;
}
nav .container dt:hover .hover-box > .list {
  display: block;
}
nav .container dt span {
  padding-right: 20px;
  background: url(../img/icon_baracts.png) no-repeat 100px -93px;
}
nav .container dt .hover-box {
  width: 250px;
  height: 200px;
  position: absolute;
  top: 40px;
  left: 0;
}
nav .container dt .hover-box .list {
  width: 116px;
  height: 200px;
  background-color: #000;
  padding: 0 0 10px 10px;
  text-align: left;
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  float: left;
  z-index: 999;
}
nav .container dt .hover-box .list span {
  position: absolute;
  top: 0;
  right: 0;
}
nav .container dt .hover-box .list a {
  color: #fff;
  font-size: 12px;
}
nav .container dt .hover-box .list li {
  position: relative;
}
nav .container dt .hover-box .list li:hover .list2 {
  display: block;
}
nav .container dt .hover-box .list li .list2 {
  width: 116px;
  height: 200px;
  background-color: #000;
  padding: 0 0 10px 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 116px;
  float: right;
  display: none;
}
nav .container .right > ul {
  float: left;
  height: 40px;
  overflow: hidden;
}
nav .container .right > ul li {
  line-height: 40px;
  position: relative;
  float: left;
  padding: 0 20px;
  color: #fff;
  display: inline-block;
}
nav .container .right > ul li a {
  color: #fff;
}
.category {
  width: 100%;
  background: #f8f8f8;
}
.category .pos {
  position: relative;
}
.category .category-left {
  position: relative;
  height: 20px;
  padding: 10px 0;
  line-height: 20px;
  z-index: 10;
}
.category .category-left .sep {
  padding: 0 6px;
  color: #bbb;
  font-family: SimSun;
  float: left;
}
.category .category-left a {
  color: #666;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  font-size: 12px;
}
.category .category-left a:hover {
  color: #ff6600;
}
.category .category-left a:hover {
  color: #f60;
  text-decoration: underline;
}
.category .category-left .dropdown {
  position: relative;
  float: left;
  height: 18px;
  border: 1px solid #ddd;
  color: #666;
  cursor: pointer;
  background-color: #fff;
}
.category .category-left .dropdown .dropdown-text {
  position: relative;
  height: 18px;
  padding: 0 20px 0 8px;
  line-height: 18px;
  z-index: 2;
}
.category .category-left .dropdown .dropdown-text a {
  float: left;
  color: #666;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}
.category .category-left .dropdown .dropdown-text a:hover {
  color: #ff6600;
}
.category .category-left .dropdown .dropdown-text a:hover {
  color: #f60;
  text-decoration: underline;
}
.category .category-left .dropdown i {
  position: absolute;
  top: 7px;
  right: 6px;
  width: 8px;
  height: 4px;
  background-image: url(../img/f-icons-ex1.png);
  background-position: -1638px -206px;
  z-index: 3;
  -moz-transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  -moz-transition: transform 0.1s ease-in;
  -o-transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  _font-size: 0;
}
.category .category-left .title {
  color: #999;
  float: left;
}
.category .category-left .title a {
  color: #666;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.category .category-right {
  position: absolute;
  right: 0;
  top: 2px;
  height: 20px;
  padding: 8px 0;
  z-index: 10;
  cursor: default;
}
.category .category-right .header-shop {
  padding-right: 8px;
  font-size: 0;
}
.category .category-right .header-shop .header-shop-label {
  vertical-align: top;
  display: inline-block;
  margin-right: 11px;
  margin-top: 3px;
  background: #f60;
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  padding: 0 3px;
  color: #fff;
  border-radius: 2px;
}
.category .category-right .header-shop .header-shop-name {
  vertical-align: top;
  display: inline-block;
  margin-right: 27px;
  margin-top: 4px;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  color: #333;
  max-width: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category .category-right .header-shop .header-shop-concat {
  vertical-align: top;
  height: 16px;
  margin-top: 2px;
  display: inline-block;
  font-size: 0;
}
.category .category-right .header-shop .header-shop-concat span {
  vertical-align: top;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  color: #666;
}
.category .category-right .header-shop .header-shop-concat .header-shop-icon {
  width: 16px;
  margin-right: 1px;
  background: url(../img/header-contact-self.gif) no-repeat;
}
.info {
  margin-bottom: 400px;
}
.info .content {
  margin-top: 10px;
  position: relative;
}
.info .content .content-left {
  width: 450px;
}
.info .content .content-left .imgZoom {
  width: 450px;
  height: 532px;
}
.info .content .content-left .imgZoom > a {
  position: relative;
  display: block;
  border: 1px solid #eee;
  width: 450px;
}
.info .content .content-left .imgZoom > a .glass {
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: #ccc;
  left: 0px;
  top: 0px;
  opacity: 0.7;
  display: none;
}
.info .content .content-left .imgZoom > a .m {
  width: 450px;
  height: 450px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.info .content .content-left .imgZoom > a .big {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 450px;
  z-index: 10;
}
.info .content .content-left .imgZoom > a .big img {
  transform: scale(2);
  width: 450px;
  height: 450px;
  display: block;
  position: absolute;
  left: 225px;
  top: 225px;
}
.info .content .content-left .imgZoom > a img {
  display: block;
  width: 450px;
  height: 450px;
}
.info .content .content-left .imgZoom .thumbnail-box {
  width: 450px;
  margin: 10px 30px 0;
}
.info .content .content-left .imgZoom .thumbnail-box .thumbnail-list {
  width: 450px;
}
.info .content .content-left .imgZoom .thumbnail-box .thumbnail-list li {
  width: 85px;
  float: left;
}
.info .content .content-left .imgZoom .thumbnail-box .thumbnail-list li a {
  width: 60px;
}
.info .content .content-left .imgZoom .thumbnail-box .thumbnail-list li a img {
  display: block;
  width: 60px;
  height: 60px;
}
.info .content .content-left .imgZoom .thumbnail-box .thumbnail-list li a.current {
  display: block;
  border: 2px solid #f60;
}
.info .content .content-left .imgZoom-bottom {
  width: 451px;
  height: 20px;
}
.info .content .content-left .imgZoom-bottom .z-item {
  float: left;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 5px;
  line-height: 20px;
}
.info .content .content-left .imgZoom-bottom .z-item a {
  color: #999;
  display: inline-block;
  line-height: 18px;
  font-size: 12px;
}
.info .content .content-left .imgZoom-bottom .z-item i {
  float: left;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 3px 0;
  background-image: url(../img/f-icons-ex1.png);
  background-position: -1521px -533px;
}
.info .content .content-left .imgZoom-bottom .share {
  float: left;
  width: auto;
  color: #999;
  cursor: pointer;
  margin-right: 5px;
  margin-top: -2px;
  position: relative;
}
.info .content .content-left .imgZoom-bottom .share .label {
  display: inline-block;
  border: 1px solid #fff;
  padding-right: 3px;
  position: relative;
  z-index: 2;
  font-size: 12px;
}
.info .content .content-left .imgZoom-bottom .share .label .sh-i {
  float: left;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 2px 3px 0;
  background-image: url(../img/f-icons-ex1.png);
  background-position: -1441px -533px;
}
.info .content .content-left .imgZoom-bottom .share .share-list {
  top: 20px;
  right: 0;
  width: 72px;
  height: auto;
  border-color: #ddd;
  padding: 6px 0 6px 8px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #fff;
  overflow: hidden;
  position: absolute;
}
.info .content .content-left .imgZoom-bottom .favorite i {
  background-image: url(../img/f-icons-ex1.png);
  background-position: -1425px -533px;
}
.info .content .content-left .imgZoom-bottom .report {
  float: right;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 5px;
  line-height: 20px;
}
.info .content .content-left .imgZoom-bottom .report a {
  color: #999;
  display: inline-block;
  line-height: 18px;
  font-size: 12px;
}
.info .content .content-left .imgZoom-bottom .report a i {
  float: left;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 2px 3px 0;
  background-image: url(../img/f-icons-ex1.png);
  background-position: -1489px -533px;
}
.info .content .content-right {
  position: absolute;
  top: 0px;
  right: 0px;
}
.info .content .content-right hr {
  background-color: #eee;
  height: 1px;
  border: 0;
}
.info .content .content-right .right-title {
  padding: 13px 10px 12px;
  background: #fff;
}
.info .content .content-right .right-title h1 {
  font: 700 16px/1.5 \5FAE\8F6F\96C5\9ED1;
  color: #222;
  word-break: break-all;
  min-height: 24px;
  width: 710px;
}
.info .content .content-right .right-title h1 span {
  float: left;
  min-width: 42px;
  padding: 0 1px;
  height: 20px;
  margin: 2px 5px 0 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 20px;
  vertical-align: middle;
}
.info .content .content-right .right-title h1 span li {
  background-color: #f50;
}
.info .content .content-right .right-title h2 {
  font: normal 14px/18px \5FAE\8F6F\96C5\9ED1;
  color: #f60;
  margin-top: 3px;
  word-break: break-all;
  display: block;
  width: 710px;
}
.info .content .content-right .dajuhui {
  background: url(../img/f-icons-ex1.png);
  background-position: 0 -842px;
  height: 40px;
  line-height: 40px;
}
.info .content .content-right .dajuhui img {
  float: left;
  height: 40px;
}
.info .content .content-right .dajuhui .djh-cd i {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: url(../img/f-icons-ex1.png);
  background-position: -1360px -698px;
  margin-left: 16px;
  margin-top: -3px;
}
.info .content .content-right .dajuhui .djh-cd .label {
  color: #fff;
  margin-left: 6px;
  font-size: 12px;
}
.info .content .content-right .dajuhui .djh-cd .proinfo-cd {
  margin-left: 10px;
}
.info .content .content-right .dajuhui .djh-cd .proinfo-cd span {
  width: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.info .content .content-right .dajuhui .djh-cd .proinfo-cd em {
  width: 39px;
  height: 40px;
  font: 700 14px/40px Tahoma;
  color: #fff;
  overflow: hidden;
  word-break: break-all;
}
.info .content .content-right .dajuhui .djh-qg {
  float: right;
  position: relative;
  width: 80px;
  height: 40px;
}
.info .content .content-right .dajuhui .djh-qg span {
  position: absolute;
  color: #fff;
  font-size: 12px;
  font-family: SimSun;
}
.info .content .content-right .dajuhui .djh-qg .rx {
  top: -9px;
  right: 20px;
}
.info .content .content-right .dajuhui .djh-qg .num {
  bottom: -9px;
  right: 20px;
}
.info .content .content-right .price {
  position: relative;
  padding: 0 0 8px;
}
.info .content .content-right .price .hb {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 234px;
  height: 128px;
  z-index: 11;
}
.info .content .content-right .price .hb .bg {
  width: 234px;
  height: 128px;
}
.info .content .content-right .price .hb .code {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 100px;
  height: 100px;
}
.info .content .content-right .price .price-container {
  width: 730px;
  height: 132px;
  position: relative;
  min-height: 120px;
  background: #fff8f3;
  padding-top: 12px;
}
.info .content .content-right .price .price-container dl {
  margin-bottom: 4px;
}
.info .content .content-right .price .price-container dl dt {
  float: left;
  width: 70px;
  padding-left: 10px;
  color: #999;
  overflow: hidden;
  font-family: simsun;
  margin-top: 1px;
}
.info .content .content-right .price .price-container dl dt span {
  display: inline-block;
  width: 6em;
  font-family: simsun;
}
.info .content .content-right .price .price-container dl dt .w3 {
  letter-spacing: 0.5em;
  font-size: 12px;
  color: #999;
}
.info .content .content-right .price .price-container dl dd {
  margin-left: 80px;
}
.info .content .content-right .price .price-container dl dd .small-price {
  float: left;
  font-family: Tahoma;
  font-size: 14px;
  color: #999;
}
.info .content .content-right .price .price-container dl dd .small-price i {
  font-family: Arial;
  font-weight: 700;
}
.info .content .content-right .price .price-container dl dd .mainprice {
  height: 28px;
  float: left;
  font: 700 30px/25px Tahoma;
  color: #e00;
}
.info .content .content-right .price .price-container dl dd .mainprice i {
  font-size: 18px;
  font-family: Arial;
}
.info .content .content-right .price .price-container dl dd .mainprice span {
  font-size: 24px;
  font-family: Tahoma;
}
.info .content .content-right .price .price-container dl dd .btn-price-notice {
  float: left;
  color: #666;
  padding: 0 8px;
  border-radius: 4px;
  margin: 7px 0 4px 5px;
  text-decoration: underline;
}
.info .content .content-right .price .price-container .price-sn {
  width: 730px;
  height: 22px;
}
.info .content .content-right .price .price-container .price-promo {
  width: 730px;
  height: 28px;
}
.info .content .content-right .price-info-promo {
  padding: 5px 0;
  margin-bottom: 0;
}
.info .content .content-right .price-info-promo dt {
  float: left;
  width: 70px;
  padding-left: 10px;
  color: #999;
  overflow: hidden;
  font-family: simsun;
}
.info .content .content-right .price-info-promo dt span {
  display: inline-block;
  width: 6em;
  font-family: simsun;
}
.info .content .content-right .price-info-promo dt .w2 {
  letter-spacing: 2em;
  color: #999;
  font-size: 12px;
  margin-top: 6px;
}
.info .content .content-right .price-info-promo dd {
  margin-left: 80px;
  position: relative;
}
.info .content .content-right .price-info-promo dd .recieve-yxhd {
  height: 14px;
  margin-bottom: 10px;
}
.info .content .content-right .price-info-promo dd .recieve-yxhd span {
  color: #666;
  font-size: 12px;
}
.info .content .content-right .price-info-promo dd .recieve-yxhd i {
  color: #f60;
}
.info .content .content-right .price-info-promo dd .more-quan {
  margin-bottom: 10px;
}
.info .content .content-right .price-info-promo dd .more-quan .s-img {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
}
.info .content .content-right .price-info-promo dd .more-quan span,
.info .content .content-right .price-info-promo dd .more-quan a {
  margin-bottom: -3px;
}
.info .content .content-right .price-info-promo dd .more-quan .detail {
  font-size: 12px;
  color: #38D;
}
.info .content .content-right .price-info-promo dd .more-quan .p-quan2 {
  position: relative;
  color: #fff;
  line-height: 18px;
  display: inline-block;
  margin-right: 10px;
}
.info .content .content-right .price-info-promo dd .more-quan .p-quan2 span {
  border-top: 1px solid #f60;
  border-bottom: 1px solid #f60;
  line-height: 16px;
  padding: 0 2px 0 4px;
  background-color: #f60;
  display: inline-block;
  font-size: 12px;
}
.info .content .content-right .price-info-promo dd .more-quan .p-quan2 .bl {
  left: 0;
  background: url(../img/f-icons-ex1.png);
  background-position: -1644px -76px;
}
.info .content .content-right .price-info-promo dd .more-quan .p-quan2 .quan-border {
  position: absolute;
  top: 1px;
  height: 16px;
  width: 2px;
}
.info .content .content-right .price-info-promo dd .more-quan .p-quan2 .bm {
  width: 5px;
  display: inline-block;
  height: 18px;
  vertical-align: top;
  background: url(../img/f-icons-ex1.png);
  background-position: -1638px -176px;
}
.info .content .content-right .price-info-promo dd .more-quan .p-quan2 .p-quan-white {
  padding: 0 4px 0 2px;
  background: #fff;
  color: #f60;
}
.info .content .content-right .price-info-promo dd .more-quan .p-quan2 .br {
  right: 0;
  background: url(../img/f-icons-ex1.png);
  background-position: -1642px -58px;
}
.info .content .content-right .price-info-promo .gua-quan {
  font-size: 12px;
  margin-bottom: 10px;
}
.info .content .content-right .price-info-promo .guaquan {
  color: #666;
  font-size: 12px;
}
.info .content .content-right .price-info-promo .zuan {
  float: left;
  display: block;
  width: 65px;
  height: 18px;
  background: url(../img/f-icons-ex1.png);
  background-position: -1487px -462px;
  margin-right: 10px;
}
.info .content .content-right .price-info-promo .label-zp {
  float: left;
  width: 52px;
  height: 16px;
  line-height: 16px;
  color: #f60;
  text-align: center;
  border: 1px solid #f60;
  background-color: #fff !important;
  font-size: 12px;
}
.info .content .content-right .price-info-promo .zp {
  margin-top: 10px;
}
.info .content .content-right .price-info-promo .i-1 {
  float: left;
  display: inline-block;
  border: 4px solid;
  border-color: transparent transparent transparent #ccc;
  font-size: 0;
  margin-left: 4px;
  margin-top: 4px;
}
.info .content .content-right .price-info-promo .i-zp {
  margin-top: 15px;
}
.info .content .content-right .price-info-promo .hs {
  position: relative;
  display: inline-block;
  color: #f60;
  line-height: 19px;
  border: solid #ffc8a3;
  border-width: 1px 0;
  margin-left: 10px;
  margin-right: 15px;
  padding-left: 12px;
  cursor: pointer;
  font-size: 12px;
}
.info .content .content-right .price-info-promo .i-icon {
  background: url(../img/f-icons-ex1.png);
  background-position: -1356px -731px;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -7px;
  top: 2px;
}
.info .content .content-right .price-info-promo .color-chose {
  height: 38px;
}
.info .content .content-right .price-info-promo .color-chose ul {
  height: 38px;
}
.info .content .content-right .price-info-promo .color-chose ul li {
  height: 38px;
  position: relative;
  padding: 0 8px;
  margin-left: 5px;
  border: 1px solid #ccc;
  float: left;
  cursor: pointer;
}
.info .content .content-right .price-info-promo .color-chose ul li img {
  width: 38px;
  height: 38px;
}
.info .content .content-right .price-info-promo .color-chose ul li span {
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  color: #666;
}
.info .content .content-right .price-info-promo .color-chose ul li.active {
  border: 1px solid #f50;
}
.info .content .content-right .price-info-promo .color-chose ul i.active {
  background-image: url(../img/f-icons-ex1.png);
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 12px;
  height: 12px;
  background-position: -1633px -533px;
}
.info .content .content-right .price-info-promo .color-chose .bao {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 16px;
  height: 16px;
  display: block;
}
.info .content .content-right .price-info-promo .color-chose .baoxiu {
  width: 180px;
  text-indent: 30px;
}
.info .content .content-right .price-info-promo .color-chose .func {
  width: 22px;
  float: left;
  height: 30px;
}
.info .content .content-right .price-info-promo .color-chose .minus {
  margin-left: 5px;
  background-image: url(../img/f-icons-ex1.png);
  background-position: -970px -668px;
}
.info .content .content-right .price-info-promo .color-chose input {
  float: left;
  width: 25px;
  height: 18px;
  padding: 5px;
  border: 1px solid #ddd;
  margin: 0 5px;
  text-align: center;
}
.info .content .content-right .price-info-promo .color-chose .plus {
  background-position: -992px -668px;
  background-image: url(../img/f-icons-ex1.png);
}
.info .content .content-right .price-info-promo .service {
  position: relative;
}
.info .content .content-right .price-info-promo .service .ji {
  position: absolute;
  top: 0px;
  left: 15px;
}
.info .content .content-right .price-info-promo .service .tui {
  position: absolute;
  top: 0px;
  left: 110px;
}
.info .content .content-right .price-info-promo .service a img {
  position: absolute;
  top: 6px;
  left: -11px;
  width: 14px;
  height: 14px;
  z-index: 1;
}
.info .content .content-right .price-info-promo .bold {
  font-weight: bold;
}
.info .content .content-right .btn-box {
  margin-top: 10px;
  height: 55px;
  position: relative;
}
.info .content .content-right .btn-box .buy {
  display: block;
  width: 115px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: #663200;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 85px;
  top: 0px;
}
.info .content .content-right .btn-box .join {
  display: block;
  width: 115px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: #f50;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 220px;
  top: 0;
}
.detail-more {
  overflow: hidden;
}
.detail-more .procon {
  width: 990px;
  float: right;
}
.detail-more .procon .tabarea {
  border: 1px solid #eee;
  background: #fff;
}
.detail-more .procon .tabarea .procon-toolbar {
  height: 47px;
  position: relative;
}
.detail-more .procon .tabarea .procon-toolbar .tabarea-items {
  background: #f7f7f7;
}
.detail-more .procon .tabarea .procon-toolbar .tabarea-items li {
  float: left;
}
.detail-more .procon .tabarea .procon-toolbar .tabarea-items li a {
  height: 47px;
  line-height: 47px;
  padding: 0 25px;
  float: left;
  font-size: 14px;
  color: #222;
}
.detail-more .procon .tabarea .procon-toolbar .detail-tab {
  height: 47px;
}
.detail-more .procon .tabarea .procon-toolbar .detail-tab li.current a {
  position: relative;
  margin-top: -1px;
  color: #f60;
  border-top: 2px solid #f60;
  background: #fff;
  box-sizing: border-box;
}
.detail-more .procon .tabarea .procon-desc .container-desc {
  background: #fff;
  width: 788px;
  float: left;
}
.detail-more .procon .tabarea .procon-desc .container-desc .productDetail {
  padding: 18px;
  overflow: hidden;
}
.detail-more .procon .tabarea .procon-desc .container-desc .productDetail p a img {
  vertical-align: middle;
  max-width: 750px;
}
