header {
  height: 36px;
  background-color: #F5F5F5;
}
header .header-left {
  position: relative;
}
header .header-left:hover {
  color: #ff8000;
}
header .header-left .address-icon {
  float: left;
  width: 12px;
  height: 15px;
  margin: 10px 6px 0 6px;
  background: url(../img/sn-jinglingtu.png) -387px -183px;
}
header .iconfont {
  font-size: 12px !important;
}
header .header-left > a {
  color: #666;
  font-size: 12px;
  line-height: 36px;
  display: inline-block;
  height: 100%;
  text-align: left;
  position: relative;
  top: 0;
  float: left;
  padding: 0 10px;
  border: 1px solid transparent;
}
header .header-left > a:hover {
  color: #ff8000;
}
header .header-mid > a {
  position: relative;
  top: 0;
  color: #666;
  font-size: 12px;
  line-height: 36px;
  display: inline-block;
  text-align: left;
  float: left;
  margin-left: 155px;
  margin-right: 5px;
}
header .header-mid > a:hover {
  color: #ff8000;
}
header .header-mid > .login {
  display: inline-block;
  width: 36px;
}
header .header-right > a {
  position: relative;
  top: 0;
  color: #666;
  font-size: 12px;
  line-height: 36px;
  display: inline-block;
  height: 100%;
  text-align: left;
  float: left;
  padding: 0 10px;
  border: 1px solid transparent;
}
header .header-right > a:hover {
  color: #ff8000;
}
header .header-mid > .login-l {
  display: inline-block;
  width: 48px;
  margin-left: 10px;
}
header .header-active {
  color: #ff6600 !important;
}
header .header-active-hover {
  color: #ff6600 !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-bottom: 0 !important;
}
header .content-hover {
  position: absolute;
  top: 36px;
  background-color: #fff;
  width: 988px;
  padding: 20px 0;
  left: auto;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 11;
  display: none;
}
header .content-hover .dl-list {
  float: left;
  width: 176px;
  border-right: 1px solid #eee;
  padding-left: 20px;
}
header .content-hover .dl-list dt {
  height: 25px;
  width: 100%;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  line-height: 17px;
}
header .content-hover .dl-list dt a {
  color: #666;
}
header .content-hover .dl-list dd {
  width: 100%;
}
header .content-hover .dl-list dd p {
  float: left;
  height: 25px;
  width: 78px;
  line-height: 25px;
}
header .content-hover .dl-list dd p a {
  color: #666;
  position: relative;
  display: inline-block;
  font-size: 12px;
}
header .sj-content {
  width: 140px;
  left: 86px;
}
header .sj-content .dl-list {
  border: 0;
  padding-left: 10px;
}
header .sj-content-3 {
  left: 813px;
}
header .sj-content-2 {
  left: 115px;
}
header .sj-content-4 {
  left: 784px;
  width: 83px;
}
header .sj-content-4 dd {
  float: left;
}
header .sj-content-5 {
  display: block;
  left: 772px;
  width: 530px;
  height: 120px;
  display: none;
}
header .sj-content-5 .dl-list {
  width: 100%;
  height: 120px;
  border: 0;
  padding-left: 10px;
}
header .sj-content-5 dd {
  width: 120px !important;
  height: 120px !important;
  float: left;
  margin-right: 10px;
}
header .sj-content-5 dd a {
  width: 120px;
  height: 120px;
}
header .sj-content-5 dd a img {
  width: 120px;
  height: 120px;
}
footer {
  background: #FFF;
  width: 100%;
  height: 210px;
  /* min-width: 990px; */
  text-align: center;
}
footer .sn-footer-first {
  width: 100%;
  background: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  padding: 0 0 10px;
}
footer .sn-footer-first .promise-box {
  padding: 12px 0;
  height: 73px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}
footer .sn-footer-first .promise-box .li-box {
  width: 230px;
  float: left;
  position: relative;
}
footer .sn-footer-first .promise-box .li-box img {
  float: left;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 30px;
}
footer .sn-footer-first .promise-box div {
  width: 100%;
  width: 200px;
  height: 100%;
  position: relative;
}
footer .sn-footer-first .promise-box div a {
  display: block;
  position: absolute;
  top: 5px;
  left: 90px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
footer .sn-footer-first .promise-box div a:hover {
  color: #ff6600;
}
footer .sn-footer-first .promise-box div p {
  width: 120px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 26px;
  left: 90px;
  font-size: 12px;
  color: #545454;
  text-align: left;
}
footer .sn-footer-first .help-box {
  position: relative;
  width: 1050px;
  height: 180px;
}
footer .sn-footer-first .help-box dl:last-child {
  position: absolute;
  top: 0px;
  right: -200px;
}
footer .sn-footer-first .help-box dl {
  float: left;
  height: 160px;
  width: 210px;
  text-align: left;
}
footer .sn-footer-first .help-box dl dt {
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  color: #545454;
  height: 35px;
  font-size: 14px;
  overflow: hidden;
}
footer .sn-footer-first .help-box dl dd {
  width: 100%;
  line-height: 22px;
}
footer .sn-footer-first .help-box dl dd a {
  color: #545454;
  font-size: 12px;
}
footer .sn-footer-first .help-box dl dd a:hover {
  color: #ff6600;
}
footer .sn-footer {
  padding: 10px 0 0 ;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
}
footer .sn-footer p a:hover {
  color: #ff6600;
}
footer .sn-footer span {
  color: #888;
  padding: 0 4px;
}
footer .sn-footer .list-1 {
  height: 25px;
  line-height: 25px;
}
footer .sn-footer .list-1 a {
  color: #666;
  font-size: 12px;
}
footer .sn-footer .list-2 {
  line-height: 25px;
  height: 25px;
  width: 1190px;
  float: left;
  color: #999;
  font-size: 12px;
}
footer .sn-footer .list-2 a {
  color: #999;
  font-size: 12px;
}
footer .sn-footer .list-2 .gongan {
  position: relative;
}
footer .sn-footer .list-2 .gongan .jinhui {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url(../img/gwab-icon.png) 0 0 no-repeat;
}
footer .sn-footer .f-img {
  height: 25px;
  margin-top: 5px;
  margin: 0 auto;
}
footer .sn-footer .f-img a {
  display: inline-block;
  margin-right: 8px;
  height: 100%;
}
footer .sn-footer .f-img a img {
  height: 100%;
}
footer .sn-fix-nav {
  min-width: 1190px;
  position: sticky;
  /* display: none; */
  height: 50px;
  width: 100%;
  /* min-width: 990px; */
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  left: 0;
  top: 500px;
  opacity: 0.95;
}
.index-header .header-con {
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.index-header .logo-set {
  position: absolute;
  top: 10px;
  left: 0;
}
.index-header .logo-box > a > img {
  width: 190px;
  height: 90px;
}
.index-header .header-search {
  position: absolute;
  height: 100px;
  width: 600px;
  top: 0;
  left: 300px;
}
.index-header .header-search .ng-search {
  position: absolute;
  height: 100px;
  width: 600px;
  top: 0;
  z-index: 8;
}
.index-header .header-search .ng-search .g-search {
  display: inline;
  position: relative;
  float: right;
  width: 540px;
  margin: 30px 0 0 0;
  z-index: 6790;
  font-family: 'Microsoft YaHei';
}
.index-header .header-search .input-search {
  width: 400px;
  height: 36px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  float: left;
  padding: 0 0 0 28px;
  border: 2px solid #ff8000;
  border-right: 0;
}
.index-header .header-search .input-search > i {
  position: relative;
  top: -28px;
  left: -20px;
}
.index-header .header-search .input-search > input {
  display: block;
  color: #bbb;
  font-size: 12px;
  background: #fff;
  height: 100%;
  line-height: 36px;
  width: 380px;
}
.index-header .header-search .search-submit {
  width: 110px;
  height: 40px;
  background-color: #ff8000;
  border-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 18px;
  padding: 0;
  font-family: 'MicroSoft YaHei';
  font-weight: bold;
  letter-spacing: 2px;
  text-indent: 2px;
  color: #FFF;
  border: 0;
  cursor: pointer;
}
.index-header .header-search .search-bottom-content {
  position: absolute;
  bottom: 7px;
  left: 55px;
  z-index: 10;
}
.index-header .header-search .search-bottom-content .border-left {
  border-left: 1px solid #ccc;
}
.index-header .header-search .search-bottom-content a {
  display: inline-block;
  color: #666;
  font-size: 12px;
  padding: 0 7px;
}
.index-header .header-search .search-bottom-content a:hover {
  color: #ff6600;
}
.index-header .header-search .search-bottom-content .font-active {
  color: #ff6600;
}
.wrapper-cart {
  width: 1070px;
}
.index-header {
  position: relative;
}
.index-header .logo-set-1 {
  left: 45px !important;
}
.index-header .input-search {
  border-color: #f50 !important;
  border-radius: 0 !important;
  width: 318px !important;
  height: 28px !important;
}
.index-header .input-search .search-text {
  width: 354px;
  display: block;
}
.index-header .search-submit {
  border-radius: 0 !important;
  background-color: #f50 !important;
  width: 80px !important;
  height: 32px !important;
  font-size: 14px !important;
  font-weight: normal !important;
}
.index-header .ng-search {
  float: right !important;
  top: 5px !important;
  right: -220px !important;
}
.index-header .sh {
  float: left;
  width: 990px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 226px;
  z-index: -1;
}
.index-header .sh .city-select .delivery-desc {
  margin-right: 7px;
  line-height: 26px;
  font-size: 12px;
}
.index-header .sh .city-select .fl {
  float: left;
}
.index-header .sh .city-select .c6 {
  color: #666;
}
.index-header .sh .ui-city {
  font-size: 12px;
  z-index: 0;
  display: inline-block;
  border: 1px solid #bbb;
  background: #fff;
  position: relative;
  z-index: 100;
}
.index-header .sh .ui-city em span {
  padding-left: 6px;
}
.index-header .sh .ui-city b {
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #bbb transparent transparent;
  border-width: 5px;
  border-style: solid dashed dashed;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.index-header .sh .ui-city a {
  line-height: 14px;
  color: #333;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.cart-bg {
  margin-top: 40px;
}
.cart-bg .wrapper-w {
  width: 990px;
  min-width: 990px;
  margin: 0 auto;
  clear: both;
}
.cart-bg .wrapper-w .m-cart-header {
  border-top: 2px solid #ccc;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .bigbox {
  height: 100px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box {
  overflow: hidden;
  border: 1px solid #ddd;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-chk {
  position: relative;
  width: 226px;
  text-align: left;
  overflow: hidden;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-chk .cart-checkbox {
  float: left;
  width: 15px;
  height: 15px;
  margin: 10px 10px 0;
  overflow: hidden;
  display: inline;
  vertical-align: middle;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-chk .cart-checkbox label {
  width: 14px;
  height: 14px;
  background: url(../img/lion-cart.png) 0 -20px;
  position: relative;
  z-index: 2;
  float: left;
  cursor: pointer;
  overflow: hidden;
  display: none;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-chk .cart-checkbox input {
  display: block;
  position: absolute;
  opacity: 1;
  z-index: 10;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th {
  float: left;
  height: 32px;
  line-height: 32px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-item {
  width: 169px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th {
  float: left;
  height: 32px;
  line-height: 32px;
  text-align: left;
  font-size: 12px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-specs {
  width: 135px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-price {
  width: 120px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-count {
  width: 95px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-amount {
  width: 75px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-sum {
  width: 115px;
  padding-left: 30px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .inner-box .th-op {
  width: 70px;
}
.cart-bg .wrapper-w .m-cart-header .cart-table-header .c6 {
  color: #666;
}
.cart-bg .wrapper-w .m-cart-title {
  border: 0;
  margin-top: 20px;
}
.cart-bg .wrapper-w .m-cart-title .inner-box {
  border: 0 !important;
}
.cart-bg .wrapper-w .m-cart-title .form {
  font-weight: bold;
  color: #333;
}
.cart-bg .wrapper-w .m-cart-title .lion-self-icon {
  float: left;
  margin-top: 4px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  overflow: hidden;
  background: url(../img/lion-cart\ 2.png) no-repeat;
}
.cart-bg .wrapper-w .m-cart-title .right {
  float: right;
}
.cart-bg .wrapper-w .m-cart-title .right .form1 {
  font-size: 12px;
  color: #999;
}
.cart-bg .wrapper-w .m-cart-title .right .form2 {
  font-size: 12px;
  color: #333;
}
.cart-bg .wrapper-w .cart-list {
  border: 0;
  position: relative;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 {
  height: 100% !important;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .th1 {
  margin-top: 25px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .th1 .ch1 {
  margin-right: 10px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .th2 a {
  display: block;
  font-size: 12px;
  color: #666;
  height: 20px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose {
  height: 38px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose ul {
  height: 38px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose ul li {
  height: 38px;
  position: relative;
  padding: 0 8px;
  margin-left: 5px;
  border: 1px solid #ccc;
  float: left;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose ul li img {
  width: 38px;
  height: 38px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose ul li span {
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  color: #666;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose ul li.active {
  border: 1px solid #f50;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose ul i.active {
  background-image: url(../img/f-icons-ex1.png);
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 12px;
  height: 12px;
  background-position: -1633px -533px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose .bao {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 16px;
  height: 16px;
  display: block;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose .baoxiu {
  width: 180px;
  text-indent: 30px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose .func {
  width: 20px;
  float: left;
  height: 30px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose .minus {
  margin-left: 5px;
  background-image: url(../img/f-icons-ex1.png);
  background-position: -970px -668px;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose input {
  float: left;
  width: 25px;
  height: 18px;
  padding: 5px;
  border: 1px solid #ddd;
  margin: 0 5px;
  text-align: center;
}
.cart-bg .wrapper-w .cart-list .inner-box-1 .color-chose .plus {
  background-position: -992px -668px;
  background-image: url(../img/f-icons-ex1.png);
}
.cart-bg .wrapper-w .cart-list .item {
  width: 313px;
  height: 94px;
  position: absolute;
  top: 20px;
  left: 80px;
}
.cart-bg .wrapper-w .cart-list .item img {
  width: 80px;
  height: 80px;
  float: left;
}
.cart-bg .wrapper-w .cart-list .item a {
  float: left;
  display: block;
  margin-top: 12px;
  margin-left: 15px;
}
.cart-bg .wrapper-w .cart-list .item a span {
  display: block;
  width: 179px;
  font-size: 12px;
  color: #333;
}
.cart-bg .wrapper-w .cart-js {
  margin-top: 30px;
  border: 0;
}
.cart-bg .wrapper-w .cart-js .inner-box-2 {
  position: relative;
  height: 60px !important;
}
.cart-bg .wrapper-w .cart-js .inner-box-2 .mt {
  margin-top: 15px;
}
.cart-bg .wrapper-w .cart-js .inner-box-2 .del {
  position: absolute;
  top: 23px;
  left: 100px;
  font-size: 12px;
}
.cart-bg .wrapper-w .cart-js .collect-sj {
  position: relative;
  float: right;
  line-height: 22px;
  margin-right: 20px;
  cursor: pointer;
}
.cart-bg .wrapper-w .cart-js .collect-sj .collect-sj-left {
  position: absolute;
  top: 15px;
  left: -90px;
}
.cart-bg .wrapper-w .cart-js .collect-sj a {
  color: #333;
  font-size: 12px;
}
.cart-bg .wrapper-w .cart-js .collect-sj a b {
  color: #f60;
}
.cart-bg .wrapper-w .cart-js .collect-sj a span {
  display: inline-block;
  width: 10px;
  height: 12px;
  background: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198) no-repeat;
  background-position: -11px -108px;
  margin-left: 5px;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right {
  float: right;
  width: 300px;
  position: relative;
  border-left: 1px solid #ccc;
  padding: 0 0 0 20px;
  margin-top: 5px;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right a {
  position: absolute;
  top: -5px;
  left: 220px;
  display: block;
  width: 120px;
  height: 60px;
  font-size: 18px;
  background-color: #f60;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  float: right;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right span {
  font-size: 12px;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right .zprice {
  color: #333;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right .yunfei {
  color: #999;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right p:first-child b {
  font-size: 22px;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right p:first-child b i {
  font-size: 12px;
  color: #f60;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right p:last-child b {
  font-size: 12px;
}
.cart-bg .wrapper-w .cart-js .collect-sj-right p:last-child b i {
  font-size: 12px;
}
.cart-bg .wrapper-w .item {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: -1px;
  padding: 15px 20px;
  border: 1px solid #dfdfdf;
}
.cart-bg .wrapper-w .item > .item-main > .td-chk {
  height: 94px;
  width: 47px;
  position: relative;
  float: left;
  z-index: 10;
}
.cart-bg .wrapper-w .item > .item-main > .td-chk > .cart-checkbox {
  float: left;
  width: 15px;
  height: 17px;
  margin-left: 15px;
  overflow: hidden;
  display: inline;
  vertical-align: middle;
}
.cart-bg .wrapper-w .item > .item-main > .td-chk > .cart-checkbox input {
  margin-right: 8px;
  margin-top: 3px;
}
.cart-bg .wrapper-w .item > .item-main > .td-chk > .cart-checkbox > label {
  position: relative;
  z-index: 2;
  float: left;
  cursor: pointer;
  overflow: hidden;
  width: 14px;
  height: 14px;
  background: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198) 0 -20px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item {
  height: 94px;
  width: 392px;
  position: relative;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .item-pic {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  background: #fff;
  overflow: hidden;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .item-pic > img {
  display: block;
  width: 80px;
  height: 80px;
  margin: -1px 0 0 -1px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .item-info {
  width: 185px;
  float: left;
  line-height: 16px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .item-info > a {
  display: block;
  clear: both;
  margin-bottom: 2px;
  max-height: 36px;
  line-height: 18px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 12px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .item-info > .item-remark {
  position: absolute;
  left: 160px;
  bottom: 35px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-specs {
  height: 94px;
  position: absolute;
  left: 368px;
  width: 103px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-specs > .specs-line {
  position: relative;
  z-index: 5;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-specs > .specs-line .price-now i,
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-specs > .specs-line .price-now em {
  font-size: 12px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-specs > .specs-line > p {
  color: #999;
  font-size: 12px;
  overflow: hidden;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price {
  height: 94px;
  position: absolute;
  left: 525px;
  width: 80px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price > .specs-line > .price-line > .icon-promo-price {
  padding: 2px 5px;
  margin: 2px 0 0;
  background: #fff6ef;
  border-radius: 2px;
  color: #f60;
  border: 1px solid #ffe2c9;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  height: 16px;
  font-size: 12px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price > .td-amount {
  height: 94px;
  width: 177px;
  position: absolute;
  left: 50px;
  top: 0px;
  text-align: center;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price > .td-amount > .item-amount {
  width: 70px;
  padding-left: 40px;
  height: 22px;
  overflow: hidden;
  text-align: center;
  padding-left: 52px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price > .td-amount > .item-amount > a {
  float: left;
  width: 22px;
  height: 22px;
  background-image: url(https://res.suning.cn/project/ccf/css/images/lion-cart.png?v=c0878859d58b6406db003165ff81d198);
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  line-height: 100px;
  overflow: hidden;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price > .td-amount > .item-amount > .minus {
  background-position: -87px -24px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price > .td-amount > .item-amount > input {
  height: 14px;
  float: left;
  width: 26px;
  padding: 3px 0;
  border-width: 1px 0;
  color: #666;
  transition: none;
  border: 1px solid #ccc;
  line-height: 14px;
  text-align: center;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-price > .td-amount > .item-amount > .plus {
  margin-right: -3px;
  background-position: -111px 0;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-sum {
  width: 80px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  position: absolute;
  left: 705px;
  top: 3px;
  font-size: 12px;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-sum b {
  font-weight: bold;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-sum b i {
  font-family: Arial;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-sum b em {
  margin-left: 1px;
  font-family: tahoma;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-op {
  padding-left: 115px;
  width: 58px;
  padding-left: 53px;
  text-align: left;
  position: absolute;
  left: 790px;
  font-size: 12px;
  color: #333;
}
.cart-bg .wrapper-w .item > .item-main > .td-item > .td-op a {
  color: #333;
}
.cart-bg .wrapper-w .toolbar {
  width: 1188px;
  height: 58px;
  background: #fff;
  line-height: 58px;
  border: 1px solid #ddd;
  margin-top: 30px;
}
.cart-bg .wrapper-w .toolbar > .checkbox {
  position: relative;
  width: 50px;
  height: 18px;
  margin-top: 20px;
  float: left;
  margin: 0 10px 0;
}
.cart-bg .wrapper-w .toolbar > .del-selected {
  color: #666;
}
.cart-bg .wrapper-w .toolbar > .right {
  width: 420px;
  height: 59px;
  float: right;
}
.cart-bg .wrapper-w .toolbar > .right > .collect {
  width: 286px;
  height: 51px;
  float: left;
}
.cart-bg .wrapper-w .toolbar > .right > .cart-total-price {
  float: right;
  line-height: 22px;
}
